<html>
    <head>
        <link href="/css/tailwind.css" rel="stylesheet">

    </head>
    <body style="background: #48435C">
        <div class="w-3/5 mx-auto text-white">
            <h1 class="uppercase text-[60px] mx-auto w-fit">Breeze</h1>
            <div th:if="${is_notion_configured}" class="grid grid-rows-2 grid-cols-1">
                <h2 class="w-fit mb-5">Notion is configured</h2>
                <button class="p-2 w-fit mx-auto" style="background: #9792e3" onclick="generateList()">Generate Grocery List</button>
                <script th:inline="javascript">
                function generateList() {
                    var host = /*[[${app_base_host}]]*/;
                    fetch(`${host}/grocery-list`, {
                        method: "POST"
                    }).then((res) => {
                        if(!res.ok) {
                            return Promise.reject(new Error("Response was not success"));
                        }
                        console.log("Generated grocery list");
                    }).catch((err) => {
                        console.error("Could not generate grocery list");
                    })
                }
            </script>
            </div>
            <span th:unless="${is_notion_configured}">
                <a th:href="@{{notion_uri}/oauth/authorize?client_id=e31754de-dcd8-4af4-a999-40fa11435ddf&response_type=code&owner=user(notion_uri=${notion_uri})}">Connect to Notion</a>
            </span>
        </div>
    </body>
</html>